<div class="form-card">
    <h1 class="form-header"> Log In </h1>

    <form class="form-main" (ngSubmit)="signIn()" [formGroup]="logInForm">
        <div class="form-control">
            <label class="form-label" for="user"> Username: </label>
            <input class="form-text" id="user" type="text" formControlName="username">
        </div>
        <div class="form-control">
            <label class="form-label" for="pass"> Password: </label>
            <input id="pass" class="form-text" type="password" formControlName="password">
        </div>
        <p class="error" [ngClass]="errorMessage ? 'show' : 'hide'"> {{errorMessage ? errorMessage : 'error placeholder'}} </p>
        <div class="form-submit">
            <input class="form-submit-btn" type="submit" value="Log In">
        </div>
    </form>
</div>