<!-- <p>channel works!</p> -->


<p *ngFor="let msg of messages">
    {{msg.sender}} @ {{msg.time_stamp | date:'short'}}: {{msg.text}} 
</p>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="message"> Send Message: </label>
        <input id="message" type="text" formControlName="message">
    </div>
    <div>
        <input type="submit" value="Send"> 
    </div>
</form>

<form [formGroup]="addUserForm" (ngSubmit)="addUser()">
    <div>
        <label for="addUser"> Add User: </label>
        <input id="addUser" type="text" formControlName="username">
    </div>
    <div>
        <input type="submit" value="Add">
    </div>
</form>

