<!-- <p>test works!</p> -->

<form [formGroup]="channelForm" (ngSubmit)="createRoom()">
    <div>
        <label for="channelName"> Room Name: </label>
        <input id="channelName" type="text" formControlName="channelName">
    </div>
    <div>
        <input type="submit" value="Create">
    </div>
</form>


<button *ngFor="let channel of channelList" (click)="toggleChannel(channel)">
     {{channel}} 
</button>

<div *ngIf="currentChannel">
    <app-channel [webSocket] = "ws" [messages]="getCurrentChannelMessages()" [channelName]="currentChannel"> </app-channel>
</div>