<form [formGroup]="channelForm" (ngSubmit)="createRoom()">
    <div>
        <label for="channelName"> Room Name: </label>
        <input id="channelName" type="text" formControlName="channelName">
    </div>
    <div>
        <input type="submit" value="Create">
    </div>
</form>


<button *ngFor="let channel of channelIdToName | keyvalue" (click)="toggleChannel(channel.key)">
     {{channel.value}}
</button>

<div *ngIf="currentChannel">
    <app-channel [channelId]="currentChannel"[webSocket] = "ws" [messages]="getCurrentChannelMessages()" [channelName]="getCurrentChannelName()"> </app-channel>
</div>