.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255));
    height: 75px;
    /*box-shadow: 10px 10px 10px 10px rgb(240, 240, 240); */
}

.left-items{
    list-style-type: none;
    position: sticky;
}

.right-items{
    list-style-type: none;
    display: flex;
}

.nav-link{
    text-decoration: none;
    color: inherit;
}

.nav-item{
    padding: 10px;
    cursor: pointer;
}

.footer{

}


