/* You can add global styles to this file, and also import other style files */

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Roboto', Georgia, 'Times New Roman', Times, serif;
}

app-root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

app-login, app-register, app-channels {
    flex: 1;
}